@tailwind base;
@layer base {
  html {
    @apply text-neutral-800;
  }
  html.dark {
    @apply text-neutral-50;
    @apply bg-neutral-800;
  }
}
@tailwind components;
@tailwind utilities;

.nav-item button {
  @apply rounded
    px-6 pb-2 pt-2.5
    text-xs font-medium leading-normal text-primary
    transition duration-150 ease-in-out
    hover:bg-neutral-100 hover:text-primary-600
    focus:text-primary-600 focus:outline-none focus:ring-0
    active:text-primary-700
    dark:hover:bg-neutral-700;
}

.time-line-list li .list-title {
  @apply flex items-center;
}

.time-line-list li .list-title div {
  @apply -ml-[9px] -mt-2 mr-3
    flex
    h-4 w-4
    items-center justify-center rounded-full
    bg-primary dark:bg-primary-500;
}

.time-line-list li .list-title h4 {
  @apply -mt-2 text-xl font-semibold;
}

.time-line-list li .list-body {
  @apply mb-6 ml-6 pb-6;
}

.time-line-list li .list-body a {
  @apply text-sm text-primary
    transition duration-150 ease-in-out
    hover:text-primary-600
    focus:text-primary-600
    active:text-primary-700
    dark:text-primary-400
    dark:hover:text-primary-500
    dark:focus:text-primary-500
    dark:active:text-primary-600;
}

.time-line-list li .list-body p {
  @apply mb-4 mt-2 text-neutral-600 dark:text-neutral-300;
}

.time-line-list li .list-body button {
  @apply inline-block
    rounded
    bg-primary
    px-4 pb-[5px] pt-[6px]
    text-xs font-medium uppercase
    leading-normal text-white
    shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out
    hover:bg-primary-600
    hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)]
    focus:bg-primary-600
    focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)]
    focus:outline-none
    focus:ring-0
    active:bg-primary-700
    active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)]
    dark:shadow-[0_4px_9px_-4px_rgba(59,113,202,0.5)]
    dark:hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)]
    dark:focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)]
    dark:active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)];
}

.footer-panel {
  @apply bg-neutral-200
    p-4
    text-center text-neutral-700
    dark:bg-neutral-700 dark:text-neutral-200;
}

.footer-panel .footer-link {
  @apply text-neutral-800
    px-1.5
    dark:text-neutral-400;
}
