@tailwind base;
@tailwind components;
@tailwind utilities;

/* グローバル・スタイル */
@layer base {
  /* 通常モード */
  html {
    @apply font-sans text-neutral-900;
  }

  body {
    @apply bg-white;
  }

  input,
  textarea {
    @apply p-0.5 border border-solid border-neutral-300 rounded-md
      outline-none resize-none
      transition-all;
  }
  input:hover,
  textarea:hover {
    @apply border-neutral-900 opacity-100 transition-all;
  }

  /* コンテナー */
  .pageContainer {
    @apply m-auto px-2 p-4
      sm:m-auto sm:p-4 sm:container;
  }

  /* ダークモード */
  html.dark {
    @apply bg-neutral-800 text-neutral-50;
  }
}
